@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.movie-acao, 
.movie-romance,
.movie-horror{
    color: white;
    text-align: center;
    margin: 20px 0;
}
